@import '/home/jade/.cache/wal/colors-wlogout.css';

* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition:10ms;
}

window {
	background-color: rgba(12, 12, 12, 0.1);
}

button {
	color: #FFFFFF;
	font-size: 20px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	border-style: solid;
	background-color: rgba(12, 12, 12, 0.3);
	border: 2px solid #FFFFFF;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
	color: @color11;
	background-color: rgba(12, 12, 12, 0.2);
	border: 2px solid @color11;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock,
#logout,
#suspend ,
#hibernate,
#shutdown,
#reboot {
	margin: 5px;
	border-radius: 10px;
}


#lock {
	background-image: image(url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}